<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RTestSuit" verbose="1">
    <test name="AllTables">
        <classes>
            <class name="Tieto.tests.ContBevTests"/>
            <class name="Tieto.tests.ContRulesTests"/>
            <class name="Tieto.tests.ContMasterTests"/>
            <class name="Tieto.tests.CstContEventTests"/>
            <class name="Tieto.tests.DemurrageTests"/>
            <class name="Tieto.tests.VgmTests"/>
            <class name="Tieto.tests.VgmCodesTests"/>
            <class name="Tieto.tests.ServiceTests"/>
            <class name="Tieto.tests.BookBemInternalTests"/>
            <class name="Tieto.tests.KontorTests"/>
            <class name="Tieto.tests.CommodityTests"/>
            <class name="Tieto.tests.StedBarTests"/>
        </classes>
    </test>

</suite>