<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RTestSuit" verbose="1" >
    <test name="RTestVsMSCRUS" >
        <classes>

            <class name="Tieto.tests.ContHollidayTests" />
            <class name="Tieto.tests.ContTypeTests" />
            <class name="Tieto.tests.HenvisTestsTMP" />
            <class name="Tieto.tests.EdiKonvTestsTMP" />
        </classes>
    </test>

</suite>